@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Karantina', cursive;
}

/* HEADER */

header {
    min-height: 100vh;
    background: url("../img/Calque\ 3.png") #020202;
    background-size: cover;
}

/* HEADER NAV */

header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #020202;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EDEDED;
    box-shadow: 0px 7px 10px 0px rgba(255, 255, 255, 0.6);
}

header nav .image-box {
    position: absolute;
    top: 10px;
    left: 50px;
}

header nav .image-box img {
    max-height: 80px;
}

header nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

header nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 600;
    padding: 0 20px;
}

header nav ul li a {
    color: #FDFDFD;
    font-family: 'Karantina', cursive;
}

header nav ul .li-line::after {
    content: "";
    position: absolute;
    top: 30px;
    margin-left: 20px;
    width: 2px;
    height: 40px;
    background: #fff;
}

/* HEADER MAIN */

header .header-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

header .header-content .header-content-text {
    width: 60%;
}

header .header-content .header-content-text h1 {
    width: 450px;
    margin: auto;
    border: 2px solid #FDFDFD;
    color: #FFD800;
    text-transform: uppercase;
    font-size: 3em;
}

header .header-content .header-content-text p {
    width: 80%;
    margin: 50px auto 0 auto;
    color: #C7C7C7;
    border: 2px dotted #FDFDFD;
    padding: 30px 100px;
    text-transform: uppercase;
    line-height: 25px;
    text-align: justify;
    text-align-last: center;
    font-size: 0.9em;
}

header .header-content .header-content-logo {
    width: 40%;
}

header .header-content .header-content-logo img {
    filter: drop-shadow(0px 0px 180px #fff)
}
/*  Regles générales  */ 
main {
    background-color: black;
}
h1 {
    font-size: 3em !important;
}

/* Partie Carte  */
#map
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(../img/Calque3.png) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-shadow: inset -800px 0px 185px -30px rgba(0,0,0,0.90);
    filter: brightness(0.78);
}
.carte {
    width: 50%;
    margin-right: 150px;
}
.carte h1 {
    
    text-align: center;
    color: #ffd700;
    text-transform: uppercase;
    border: solid 2px #fff;
    width: 140px;
    margin: 0 auto 20px auto;
    padding: 10px;
}

.text {
    color: #fff;
    padding: 25px;
    width: 100%;
    border: dotted 2px #fff;
    height: 500px;
}

.text p {
    text-align: center;
    padding: 50px 50px 20px 50px;
    font-size: 1.3em;
    
}


.text a {
    display: flex;
    color: black;
    text-decoration: none;
    margin: 0 auto 25px auto ;
    width: 218px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffd700;
    border-radius: 30px;
    
}


/* Partie Agent */

/* image fond */
#agents
{
    background: url(../img/Calque4.png);
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 995px;
    margin: 0;
    padding: 0;
    box-shadow: inset 800px 0px 185px -30px rgba(0,0,0,0.90);
    filter: brightness(0.78);
}
.perso {
    position: relative;
    left: 150px;
    width: 50%;
}

/* titre  */
.perso h1
{
    text-align: center;
    color: #ffd700;
    text-transform: uppercase;
    border: solid 2px #fff;
    width: 200px;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 2em;
}


/* Image recrue  */
.grid li {
    margin-top: 35px;
    width: 173px;
    height: 173px;
}
.one{
    width:100%;
    height:100%;
    object-fit: cover;
}


.grid  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1037px;
    flex-wrap:wrap;
    z-index: 1;
}
.ul    {
    border: dotted 2px #fff;
    width: 100%;
}

/* Perdo droite  */
.sledge {
    position: relative;
    right: 253px;
    top: 6px;
    z-index: 4;
}
.lion {
    position: relative;
    right: -118px;
    top: 190px;
    z-index: 5;
}

/* lien a  */

.grid a {
    display: flex;
    color: black;
    text-decoration: none;
    margin: 0 auto 0 auto ;
    width: 218px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffd700;
    border-radius: 30px;
    
}
.lien {
    
    margin-bottom: 15px;
    width: 218px !important;
    height: 78px !important;
}

















































.



